<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:fragment="header" class="cbp-af-header"
     style="margin-bottom: 2.5em;padding: 1em 0 1em 1em;border-width: 2px; background-color: #007bff">
    <div class="cbp-af-inner">
        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <h1 style="color:#FFFFFF;">Dashboard</h1>
                    <h5 style="color:#FFFFFF;">Welcome, Admin!</h5>
                </div>
                <div class="col-2">
                    <form method="POST" th:action="@{/logout}">
                        <input type="submit" value="Log out" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </div>
        <nav>
            <form method="GET" th:action="@{/}">
                <input type="submit" value="Home" class="btn btn-primary">
            </form>
            <form method="GET" th:action="@{/edit}">
                <input type="submit" value="Edit all" class="btn btn-primary">
            </form>
        </nav>
    </div>
</div>
</body>
</html>