<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Dashboard</title>

    <!-- jQuery -->
    <script src="https://code.jquery.com/jquery-3.6.0.js"
            integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

    <!-- DataTable CSS-->
    <link href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css" rel="stylesheet"/>

    <!-- DataTable JS-->
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>

</head>
<body>
<table id="myTable" class="display">
    <thead>
    <tr>
        <th>Name</th>
        <th>Facilities</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <!--/*@thymesVar id="user" type="ae.accumed.dashboardadmin.model.UserResponse"*/-->
    <tr th:each="user: ${data.getUserResponses()}">
        <td th:text="${user.name}">Row 1 Data 1</td>
        <td>
            <!--/*@thymesVar id="facility" type="ae.accumed.dashboardadmin.entities.Facility"*/-->
            <div th:each="facility: ${data.getFacilities()}" th:text="${facility.facilityName}"
                 th:if="${user.getFacilityLicences().contains(facility.facilityLicence)}"></div>
        </td>
        <td>
            <form method="GET" th:action="@{/edit/{userName}(userName=${user.userName})}">
                <input type="submit" value="Edit">
            </form>
        </td>
    </tr>
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
</script>
</body>
</html>